<section class="about-us">
    <div class="container position-relative">
        <div
            class="about-us-main d-flex justify-content-lg-end justify-content-between align-content-start flex-sm-row flex-column">
            <div class="about-us-block mb-sm-0 mb-5">
                <h3 class="title-common mb-5">
                    Немного о нас
                </h3>
                <p class="about-text mb-lg-5 mb-4"><span>VOICECOM</span> — российская высокотехнологическая компания,
                    основанная
                    в
                    2009
                    году</p>
                <p class="about-text mb-lg-5 mb-4"> Мы — один из основных игроков на рынке услуг аутсорсинговых
                    контактных
                    центров
                    России</p>
                <p class="about-text">Инфраструктура компании расположена в одном
                    из самых надежных дата-центров страны, что позволяет предоставлять сервисы с надежность более 99,9%
                </p>
            </div>
            <img class="about-big-img" src="img/about-us/about-big.png" alt="">
        </div>
        <div class="about-blue-decor position-absolute"></div>
        <div class="about-blue-yellow d-sm-block d-none position-absolute"></div>
    </div>
</section>