<section class="change position-relative">
    <div class="change-decor"></div>
    <div class="container">
        <div class="change-main">
            <div class="change-main-content">

                <div class="change-btn-click mb-4 mb-lg-5">
                    <div class="change-btn-click__scroll d-flex align-items-center">
                        <button onclick="SliderToggle(this.id)" id="btn-active-one"
                            class="change-partnership change-partnership-active p-0 me-3 me-lg-5 d-flex align-items-center">Для
                            партнеров
                            <a target="_blanck" href="partners.html">
                                <img id="img-active-one" class="ch-img-btn ch-img-btn-active ms-2"
                                    src="img/chenge/ch-img-btn.png" alt="">
                            </a>
                        </button>

                        <button onclick="SliderToggle(this.id)" id="btn-active-two"
                            class="change-partnership d-flex p-0 align-items-center">Для
                            сотрудников
                            <a target="_blanck" href="employees.html">
                                <img id="img-active-two" class="ch-img-btn ms-2" src="img/chenge/ch-img-btn.png" alt="">
                            </a>
                        </button>
                    </div>
                </div>

                <div class="chenge-slider position-relative d-flex align-items-center">

                    <div class="chenge-value d-sm-block d-flex align-items-start">
                        <img class="chenge-value-pic mb-sm-3 mb-0 me-2 mt-sm-0 mt-1" src="img/chenge/change-list.png"
                            alt="">
                        <p class="change-value-text">Мы имеем общие <br> ценности — и общие <br> движения к цели.</p>
                        <button class="btn-blue change-btn d-sm-block d-none" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">Хочу заказать услугу</button>
                    </div>

                    <div id="swiper-active-one" class="swiper-value swiper">
                        <div class="swiper-wrapper swiper-wrapper-value">
                            <div class="swiper-slide swiper-slide-value">
                                <div class="swiper-bgc">
                                    <img class="ch-s-img mx-auto" src="img/chenge/ch-sl-1.png" alt="">
                                    <img class="slider-arrow-decor" src="img/partners/logo-companies/arrow-next.png"
                                        alt="">
                                    <p class="slider-text">Увеличение доходов <br> компании</p>
                                    <div class="change-hover">
                                        <p class="change-hover-text mb-4">Поддержка и управление финансовой частью</p>
                                        <p class="chagne-hover-text__bottom">российская высокотехнологичная компания,
                                            специализирующаяся в области технологий распознавания речи и голосовой
                                            биометрии <br><br><br>
                                            компания, специализирующаяся в области технологий распознавания речи и
                                            голосовой биометрии</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-value">
                                <div class="swiper-bgc">
                                    <img class="ch-s-img mx-auto" src="img/chenge/ch-sl-2.png" alt="">
                                    <img class="slider-arrow-decor" src="img/partners/logo-companies/arrow-next.png"
                                        alt="">
                                    <p class="slider-text">Поддержка и управление <br> финансовой частью</p>
                                    <div class="change-hover">
                                        <p class="change-hover-text mb-4">Поддержка и управление финансовой частью</p>
                                        <p class="chagne-hover-text__bottom">российская высокотехнологичная компания,
                                            специализирующаяся в области технологий распознавания речи и голосовой
                                            биометрии <br><br><br>
                                            компания, специализирующаяся в области технологий распознавания речи и
                                            голосовой биометрии</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-value">
                                <div class="swiper-bgc">
                                    <img class="ch-s-img mx-auto" src="img/chenge/ch-sl-3.png" alt="">
                                    <img class="slider-arrow-decor" src="img/partners/logo-companies/arrow-next.png"
                                        alt="">
                                    <p class="slider-text">Управление клиентскими <br> решениями</p>
                                    <div class="change-hover">
                                        <p class="change-hover-text mb-4">Поддержка и управление финансовой частью</p>
                                        <p class="chagne-hover-text__bottom">российская высокотехнологичная компания,
                                            специализирующаяся в области технологий распознавания речи и голосовой
                                            биометрии <br><br><br>
                                            компания, специализирующаяся в области технологий распознавания речи и
                                            голосовой биометрии</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-value">
                                <div class="swiper-bgc">
                                    <img class="ch-s-img mx-auto" src="img/chenge/ch-sl-4.png" alt="">
                                    <img class="slider-arrow-decor" src="img/partners/logo-companies/arrow-next.png"
                                        alt="">
                                    <p class="slider-text">Рассмотрение <br> технических вопросов</p>
                                    <div class="change-hover">
                                        <p class="change-hover-text mb-4">Поддержка и управление финансовой частью</p>
                                        <p class="chagne-hover-text__bottom">российская высокотехнологичная компания,
                                            специализирующаяся в области технологий распознавания речи и голосовой
                                            биометрии <br><br><br>
                                            компания, специализирующаяся в области технологий распознавания речи и
                                            голосовой биометрии</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination-value d-sm-none d-block"></div>

                        <div class="swiper-btn-value__next d-sm-none d-block">
                            <img src="img/partners/logo-companies/arrow-next.png" alt="">
                        </div>
                        <div class="swiper-btn-value__prev d-sm-none d-block">
                            <img src="img/partners/logo-companies/arrow-prev.png" alt="">
                        </div>

                    </div>

                    <div id="swiper-active-two" class="swiper-value swiper-value-active swiper">
                        <div class="swiper-wrapper swiper-wrapper-value">
                            <div class="swiper-slide swiper-slide-value">
                                <div class="swiper-bgc">
                                    <img class="ch-s-img mx-auto" src="img/chenge/ch-sl-1.png" alt="">
                                    <img class="slider-arrow-decor" src="img/partners/logo-companies/arrow-next.png"
                                        alt="">
                                    <p class="slider-text">Увеличение доходов <br> компании</p>
                                    <div class="change-hover">
                                        <p class="change-hover-text mb-4">Поддержка и управление финансовой частью</p>
                                        <p class="chagne-hover-text__bottom">российская высокотехнологичная компания,
                                            специализирующаяся в области технологий распознавания речи и голосовой
                                            биометрии <br><br><br>
                                            компания, специализирующаяся в области технологий распознавания речи и
                                            голосовой биометрии</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-value">
                                <div class="swiper-bgc">
                                    <img class="ch-s-img mx-auto" src="img/chenge/ch-sl-1.png" alt="">
                                    <img class="slider-arrow-decor" src="img/partners/logo-companies/arrow-next.png"
                                        alt="">
                                    <p class="slider-text">Поддержка и управление <br> финансовой частью</p>
                                    <div class="change-hover">
                                        <p class="change-hover-text mb-4">Поддержка и управление финансовой частью</p>
                                        <p class="chagne-hover-text__bottom">российская высокотехнологичная компания,
                                            специализирующаяся в области технологий распознавания речи и голосовой
                                            биометрии <br><br><br>
                                            компания, специализирующаяся в области технологий распознавания речи и
                                            голосовой биометрии</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-value">
                                <div class="swiper-bgc">
                                    <img class="ch-s-img mx-auto" src="img/chenge/ch-sl-1.png" alt="">
                                    <img class="slider-arrow-decor" src="img/partners/logo-companies/arrow-next.png"
                                        alt="">
                                    <p class="slider-text">Управление клиентскими <br> решениями</p>
                                    <div class="change-hover">
                                        <p class="change-hover-text mb-4">Поддержка и управление финансовой частью</p>
                                        <p class="chagne-hover-text__bottom">российская высокотехнологичная компания,
                                            специализирующаяся в области технологий распознавания речи и голосовой
                                            биометрии <br><br><br>
                                            компания, специализирующаяся в области технологий распознавания речи и
                                            голосовой биометрии</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-value">
                                <div class="swiper-bgc">
                                    <img class="ch-s-img mx-auto" src="img/chenge/ch-sl-1.png" alt="">
                                    <img class="slider-arrow-decor" src="img/partners/logo-companies/arrow-next.png"
                                        alt="">
                                    <p class="slider-text">Рассмотрение <br> технических вопросов</p>
                                    <div class="change-hover">
                                        <p class="change-hover-text mb-4">Поддержка и управление финансовой частью</p>
                                        <p class="chagne-hover-text__bottom">российская высокотехнологичная компания,
                                            специализирующаяся в области технологий распознавания речи и голосовой
                                            биометрии <br><br><br>
                                            компания, специализирующаяся в области технологий распознавания речи и
                                            голосовой биометрии</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination-value d-sm-none d-block"></div>

                        <div class="swiper-btn-value__next d-sm-none d-block">
                            <img src="img/partners/logo-companies/arrow-next.png" alt="">
                        </div>
                        <div class="swiper-btn-value__prev d-sm-none d-block">
                            <img src="img/partners/logo-companies/arrow-prev.png" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>