<section class="companies">
    <div class="container">
        <div class="companies-top">
            <div class="title-common">Мы работаем с компаниями<br> по всей России</div>
            <div class="companies-top__text">
                <b>Voice communication</b> — мы открываем отличные возможности для роста и
                развития различным компаниям.
            </div>
        </div>
        <div class="companies-list">
            <div class="companies__item">
                <img src="img/partners/logo-companies/1.png">
            </div>
            <div class="companies__item">
                <img src="img/partners/logo-companies/2.png">
            </div>
            <div class="companies__item">
                <img src="img/partners/logo-companies/3.png">
            </div>
            <div class="companies__item">
                <img src="img/partners/logo-companies/4.png">
            </div>
            <div class="companies__item">
                <img src="img/partners/logo-companies/5.png">
            </div>
            <div class="companies__item">
                <img src="img/partners/logo-companies/6.png">
            </div>

        </div>
    </div>
</section>