<section class="footer py-4">
    <div class="container">
        <div
            class="footer-container d-flex align-items-center justify-content-lg-start justify-content-center flex-md-row flex-column">
            <a class="logo-footer mb-md-0 mb-4" href="index.html">
                <img class="" src="img/footer/footer-logo.png" alt="">
            </a>
            <ul class="footer-list d-flex flex-md-row flex-column align-items-md-start align-items-center">
                <li class="footer-list__item mb-md-0 mb-3"><a href="#">О компании</a></li>
                <li class="footer-list__item mb-md-0 mb-3"><a href="#">Услуги</a></li>
                <li class="footer-list__item mb-md-0 mb-3"><a href="#">Вакансии</a></li>
                <li class="footer-list__item mb-md-0 mb-3"><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>
</section>