<section class="geometry">
    <div class="container">
        <div class="geometry-main position-relative">
            <img class="d-md-block  d-none" src="img/geometry/jobs-moment.png" alt="">
            <img class="jobs-geo-mob d-md-none d-block" src="img/geometry/job-moment-mob.png" alt="">
            <p class="geometry-text position-absolute">Наша миссия — предоставить качественный сервис с максимально
                индивидуальным
                подходом, ориентируясь прежде всего на цели Клиента</p>
            <div class="geometry-yellow-decor position-absolute"></div>
        </div>
    </div>
</section>