<section class="header position-relative">
    <div class="container">
        <div class="header-main position-relative d-flex justify-content-between align-items-center">
            <div class="header-left">
                <h2 class="title-header mb-1">
                    Центр <br> коммуникаций
                </h2>
                <h3 class="subtitle-header">с вашими клиентами </h3>
                <p class="text-header">У нас более <span>1 500</span> сотрудников <br> для вас и вашего бизнеса
                </p>
                <img class="header-img d-sm-none d-block" src="img/header/header-img.png" alt="">
                <button class="btn-yellow mx-sm-0 mx-auto" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">Заказать звонок
                    <img class="ms-2" src="img/btn/Vector.png" alt="">
                </button>
            </div>
            <img class="header-img d-sm-block d-none" src="img/header/header-img.png" alt="">
            <div class="circle-block position-absolute">
                <div class="circle-two-block">
                    <div class="circle-three-block d-flex justify-content-center align-items-center">
                        <p class="circle-text">это мы</p>
                    </div>
                </div>
            </div>
            <div class="decor-yellow position-absolute"></div>
            <div class="decor-blue position-absolute"></div>
        </div>
    </div>
    <img class="border-decor position-absolute" src="img/header/roder-decor.png" alt="">
    <div class="decoraton-r-t position-absolute"></div>
</section>