<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header position-relative d-flex flex-column align-items-start">
                <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                <h4 class="title-modal">Оставьте заявку</h4>
                <p class="text-modal">Оставьте свои контактные данные для связи, и мы свяжемся с вами</p>
                <form class="d-flex w-100 flex-column" action="">
                    <input class="modal-input mb-2 text-center" type="text" placeholder="Введите ваше имя">
                    <input class="modal-input mb-4 text-center" type="tel" placeholder="Введите ваш телефон">
                    <button class="btn-blue btn-modal">Заказать звонок</button>
                </form>
                <img class="position-absolute modal-pick d-sm-block d-none" src="img/modal/modal-pick.png" alt="">
                <img class="position-absolute modal-decor d-sm-block d-none" src="img/modal/modal-decor.png" alt="">
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal-thanks d-flex justify-content-center flex-column align-items-center"
    style="display: none !important;">
    <div class="modal-block h-100 w-100 d-flex justify-content-center align-items-center flex-column position-relative">
        <img class="closed position-absolute" src="img/closed.png" alt="">
        <img class="complite mt-5" src="img/complite.png" alt="">
        <h1 class="title-medium text-center title-modal mt-3 mb-3">Заявка <br> отправлена!</h1>
        <p class="modal-text text-dark text-center mb-5">Наш менеджер свяжется
            с вами в ближайшее время</p>
    </div>
</div> -->

<!-- data-bs-toggle="modal"
                data-bs-target="#staticBackdrop" -->