<section class="sphere">
    <div class="container">
        <div class="sphere-main">
            <h2 class="title-common mb-lg-3 mb-4">Сферы работы</h2>
            <div class="sphere-block d-flex justify-content-between">
                <div class="sphere-block__information">
                    <p class="sphere-text-info-1">Наша компания на базе собственного развитого контактного центра
                        способна оказывать полный спектр услуг, в том числе под ключ</p>
                    <p class="sphere-text-info-2">Таким образом, мы предлагаем: подбор персонала, обучение, постоянный
                        контроль качества и обслуживание, программирование, ведение аналитики.</p>

                    <div class="sphere-block__icon mb-5 d-md-none d-flex justify-content-end flex-lg-row flex-column">
                        <div class="sphere-block__icon--wrapper col-lg-4 col-12">
                            <div class="sphere-block__icon--element d-flex align-items-center">
                                <img src="img/sphere/s-1.png" alt="">
                                <p class="sphere-block__icon--text">IVR</p>
                            </div>
                            <div class="sphere-block__icon--element d-flex align-items-center">
                                <img src="img/sphere/s-2.png" alt="">
                                <p class="sphere-block__icon--text">IHelpDeskVR</p>
                            </div>
                            <div class="sphere-block__icon--element d-flex align-items-center">
                                <img src="img/sphere/s-3.png" alt="">
                                <p class="sphere-block__icon--text">Телемаркетинг</p>
                            </div>
                        </div>
                        <div class="sphere-block__icon--wrapper mb-0 col-lg-6 col-12">
                            <div class="sphere-block__icon--element d-flex align-items-center">
                                <img src="img/sphere/s-4.png" alt="">
                                <p class="sphere-block__icon--text">Маркетинговые исследования и социологические опросы
                                </p>
                            </div>
                            <div class="sphere-block__icon--element d-flex align-items-center">
                                <img src="img/sphere/s-5.png" alt="">
                                <p class="sphere-block__icon--text">Обработка входящих/исходящих звонков</p>
                            </div>
                            <div class="sphere-block__icon--element d-flex align-items-center">
                                <img src="img/sphere/s-6.png" alt="">
                                <p class="sphere-block__icon--text">Прием и обработка, а так же отправка sms/email
                                    сообщений
                                </p>
                            </div>
                        </div>
                    </div>

                    <p class="sphere-text-what position-relative ps-md-4 ps-2">Хотите получить профессиональную помощь?
                    </p>
                    <button class="btn-yellow mx-sm-0 mx-auto" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">Закажите услугу</button>
                </div>
                <div class="sphere-block__icon d-md-flex d-none justify-content-end flex-lg-row flex-column">
                    <div class="sphere-block__icon--wrapper col-lg-4 col-12">
                        <div class="sphere-block__icon--element d-flex align-items-center">
                            <img src="img/sphere/s-1.png" alt="">
                            <p class="sphere-block__icon--text">IVR</p>
                        </div>
                        <div class="sphere-block__icon--element d-flex align-items-center">
                            <img src="img/sphere/s-2.png" alt="">
                            <p class="sphere-block__icon--text">IHelpDeskVR</p>
                        </div>
                        <div class="sphere-block__icon--element d-flex align-items-center">
                            <img src="img/sphere/s-3.png" alt="">
                            <p class="sphere-block__icon--text">Телемаркетинг</p>
                        </div>
                    </div>
                    <div class="sphere-block__icon--wrapper mb-0 col-lg-6 col-12">
                        <div class="sphere-block__icon--element d-flex align-items-center">
                            <img src="img/sphere/s-4.png" alt="">
                            <p class="sphere-block__icon--text">Маркетинговые исследования и социологические опросы</p>
                        </div>
                        <div class="sphere-block__icon--element d-flex align-items-center">
                            <img src="img/sphere/s-5.png" alt="">
                            <p class="sphere-block__icon--text">Обработка входящих/исходящих звонков</p>
                        </div>
                        <div class="sphere-block__icon--element d-flex align-items-center">
                            <img src="img/sphere/s-6.png" alt="">
                            <p class="sphere-block__icon--text">Прием и обработка, а так же отправка sms/email сообщений
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>