@media (max-width: 1650px) {
  // header
  .header {
    padding-bottom: 105px;
  }
  .header-img {
    width: 630px;
  }
  .subtitle-header {
    margin-bottom: 35px;
  }
  .circle-block {
    height: 305px;
    width: 305px;
    top: 33px;
    left: 560px;
  }
  .circle-two-block {
    height: 225px;
    width: 225px;
  }
  .circle-three-block {
    height: 145px;
    width: 145px;
  }
  .circle-text {
    font-size: 25px;
    line-height: 32px;
  }
  .decor-yellow {
    left: 676px;
    top: 19px;
  }

  .decor-blue {
    left: 773px;
    top: 295px;
  }
  .decoraton-r-t {
    right: 5px;
    width: 400px;
    height: 400px;
  }
  .border-decor {
    top: -134px;
    left: -160px;
    width: 900px;
  }
  // header
  // geomenry
  .geometry {
    margin-top: 75px;
  }
  // geomenry
  // change
  .change .container {
    margin: 0 auto;
    padding: 0 0 0 10px;
    max-width: 1600px;
  }
  // change
  // about-us
  .about-us::before {
    width: 1480px;
  }
  // about-us
  // awards
  .awards__btn--prev {
    left: 0;
  }
  .awards__btn--next {
    right: 0;
  }
  // awards
  // partners
  .border-decor-partners {
    width: 621px;
    left: 298px;
    top: -266px;
  }
  .circle-block__partners {
    left: 692px;
    width: 190px;
    height: 190px;
    z-index: 1;
    top: -2px;
  }
  .circle-two-block__partners {
    width: 140px;
    height: 140px;
  }
  .circle-three-block {
    height: 95px;
    width: 95px;
  }
  .decor-yellow__partners {
    left: 869px;
    top: -95px;
  }
  .decor-blue__partners {
    left: 579px;
    top: 157px;
  }
  // partners
}
@media (max-width: 1480px) {
  // header
  .decoraton-r-t {
    right: -67px;
    width: 350px;
    height: 350px;
    top: -69px;
  }
  .header {
    padding-top: 100px;
  }
  .title-header {
    font-size: 41px;
    line-height: 52px;
  }
  .subtitle-header {
    margin-bottom: 35px;
    font-size: 32px;
    line-height: 40px;
  }
  .text-header {
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 35px;
  }
  .text-header span {
    font-size: 41px;
    line-height: 51px;
  }
  .border-decor {
    top: -134px;
    left: -180px;
    width: 800px;
  }
  .circle-block {
    height: 275px;
    width: 275px;
    top: 5px;
    left: 470px;
  }
  .circle-two-block {
    height: 195px;
    width: 195px;
  }
  .circle-three-block {
    height: 125px;
    width: 125px;
  }
  .circle-text {
    font-size: 21px;
    line-height: 28px;
  }
  .decor-yellow {
    left: 699px;
    top: 41px;
  }
  .decor-blue {
    left: 670px;
    top: 235px;
  }
  .header-img {
    width: 560px;
  }

  // header
  // sphere
  .sphere-block__icon--element img {
    width: 65px;
  }
  .sphere-text-info-1 {
    font-size: 18px;
    max-width: 475px;
    margin-bottom: 35px;
  }
  .sphere-text-info-2 {
    font-size: 16px;
    max-width: 480px;
    margin-bottom: 65px;
  }
  .sphere-block__icon--text {
    font-size: 17px;
    margin-left: 25px;
  }
  // sphere
  // about-us
  .about-us::before {
    width: 1320px;
  }
  // about-us
  // partners
  .header-partner {
    padding-top: 180px;
  }
  .border-decor-partners {
    width: 621px;
    left: 126px;
    top: -266px;
  }
  .circle-block__partners {
    left: 541px;
    width: 170px;
    height: 170px;
    z-index: 1;
  }
  .circle-two-block__partners {
    width: 120px;
    height: 120px;
  }
  .circle-three-block {
    height: 75px;
    width: 76px;
  }
  .decor-blue__partners {
    left: 440px;
    top: 157px;
  }
  .decor-yellow__partners {
    left: 720px;
    top: -95px;
  }

  // partners
  // employees
  .title-header__employees {
    font-size: 33px;
    line-height: 37px;
    max-width: 500px;
    margin-bottom: 20px;
  }
  .partners-page__big-img {
    max-width: 550px;
    z-index: 10;
  }
  .col-top-margin {
    margin-top: 127px;
  }
  .employees-page .why__item {
    font-size: 16px;
    max-width: 520px;
  }
  .employees-page .why__box-bg::before {
    bottom: 150px;
    width: 705px;
    height: 470px;
  }
  .employees-page .application__bg-img {
    max-width: 555px;
    top: 81px;
  }
  // employees
}
@media (max-width: 1300px) {
  // header
  .header {
    padding-top: 110px;
  }
  .border-decor {
    top: -95px;
    left: -33px;
    width: 627px;
  }
  .title-header {
    font-size: 38px;
    line-height: 44px;
  }
  .subtitle-header {
    margin-bottom: 35px;
    font-size: 25px;
    line-height: 30px;
  }
  .text-header {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 35px;
  }
  .text-header span {
    font-size: 35px;
    line-height: 40px;
  }
  .header-img {
    width: 385px;
  }
  .circle-block {
    height: 230px;
    width: 230px;
    top: 205px;
    left: 391px;
  }
  .circle-two-block {
    height: 160px;
    width: 160px;
  }
  .circle-three-block {
    height: 85px;
    width: 85px;
  }
  .circle-text {
    font-size: 15px;
    line-height: 20px;
  }
  .decor-yellow {
    left: 545px;
    top: 205px;
  }
  .decor-blue {
    left: 390px;
    top: 371px;
  }
  .decoraton-r-t {
    right: -20px;
    width: 250px;
    height: 250px;
    top: -54px;
  }
  .navigation__phone {
    font-size: 22px;
    line-height: 25px;
  }
  // header
  // geometry
  .geometry-yellow-decor {
    width: 100px;
    height: 100px;
    border: 19px solid #cfde00;
  }
  .geometry-text {
    right: 135px;
    font-size: 20px;
    max-width: 580px;
  }
  // geometry
  // about-us
  .about-us::before {
    width: 1150px;
  }
  // about-us
  // awards
  .awards__title {
    font-size: 15px;
  }
  // awards
  // partners
  .circle-block__partners {
    left: 455px;
    top: 67px;
    width: 170px;
    height: 170px;
  }
  .circle-two-block__partners {
    width: 120px;
    height: 120px;
  }
  .circle-three-block {
    height: 75px;
    width: 76px;
  }
  .decor-blue__partners {
    left: 367px;
    top: 222px;
  }
  .decor-yellow__partners {
    left: 615px;
    top: -19px;
  }
  .border-decor-partners {
    width: 621px;
    left: 23px;
    top: -266px;
  }
  // partners
}
@media (max-width: 1200px) {
  .contacts-img {
    display: none;
  }

  .not-found__item:last-child {
    width: 40%;
  }

  .not-found__item:first-child {
    margin-right: 40px;
    width: 60%;
  }
  .partners-page {
    &__item {
      font-size: 14px;
      padding-left: 35px;
    }
    .ico-line {
      position: relative;
      overflow: hidden;
      padding: 170px 0;
      .title-common {
        max-width: 960px;
        width: 100%;
        font-size: 24px !important;
      }
      &__inner {
        margin-top: 130px;
      }

      &__card {
        max-width: 270px;
        width: 100%;
        position: relative;
        margin-left: 15px;
        &__img-box {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 70px;
          width: 70px;
          height: 70px;
          margin-right: 20px;
          &__big-radius {
            content: "";
            position: absolute;
            width: 400px;
            height: 400px;
            border-radius: 50%;
            border: 1px solid #0e8fe3;
            top: 0;
            right: 0;
            transform: translate(130%, -52%);
            z-index: 1;
          }
          &__img {
            z-index: 5;
            max-width: 30px;
            width: 100%;
          }
          &__blue-bg {
            z-index: 4;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #0e8fe3;
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
          &__blue-radius {
            z-index: 3;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70px;
            height: 70px;
            transform: translate(-50%, -50%);
            background-color: #0e8fe3;
            opacity: 0.3;
            border-radius: 50%;
          }
        }
        &__text {
          font-size: 14px;
        }
      }
      &__card:not(:last-child)::after {
        content: "";
        position: absolute;
        width: 20%;
        height: 10px;
        background-image: url(../img/partners/ico-line/arrow.png);
        background-repeat: no-repeat;
        background-size: contain;
        top: 70%;
        left: 0;
        transform: translateX(-10%) rotate(90deg);
      }
    }

    .servise {
      .title-common {
        font-size: 24px !important;
        margin-bottom: 80px;
      }

      &__box-bg {
        &::before {
          content: "";
          position: absolute;
          top: 115px;
          width: 715px;
          height: 400px;
          left: 0px;
          border-radius: 0 314.5px 314.5px 0;
          z-index: 1;
          background-color: #f2fafd;
        }
      }
    }

    .logo-line__slider {
      padding: 0 0 90px 0;
      &__pagination {
        bottom: 15px;
        text-align: center;
        left: 0;
        width: 100%;
        position: absolute;
      }
      &__btn {
        position: absolute;
        bottom: 0;
        &_next {
          right: 0;
        }
        &_prev {
          left: 0;
        }
      }
    }
  }
  .employees-page {
    .application {
      margin-bottom: 40px;
      &__img {
        max-width: 78px;
      }
      &__blue-box {
        border-radius: 200px 200px 0px 200px;
        padding: 100px 20px;
      }

      &__text {
        font-size: 16px;
      }

      &__title {
        font-size: 24px;
      }
      .btn-yellow {
        font-size: 16px;
        margin-top: 15px;
      }
    }
    .why {
      &__item {
        font-size: 14px;
      }

      &__box-bg {
        &::before {
          bottom: 110px;
          top: auto;
          width: 100%;
          height: 385px;
          border-radius: 0;
        }
      }
    }
  }
  .sphere-text-info-1 {
    font-size: 16px;
    max-width: 330px;
    margin-bottom: 20px;
  }
  .sphere-text-info-2 {
    font-size: 14px;
    max-width: 350px;
    margin-bottom: 30px;
  }
  .sphere-text-what {
    font-size: 16px;
    height: auto;
    margin-bottom: 30px;
  }
  .sphere-block__icon--text {
    font-size: 14px;
    margin-left: 20px;
  }
  .sphere-block__icon--element img {
    width: 50px;
  }
  .partners-page {
    padding-bottom: 40px;
  }
  // about-us
  .about-big-img {
    width: 455px;
    height: 375px;
  }
  .about-text {
    font-size: 14px;
    max-width: 480px;
  }
  .about-us-block {
    margin-right: 80px;
  }
  .about-blue-yellow {
    width: 8px;
    height: 8px;
    top: 31px;
    right: 42px;
  }
  .about-us::before {
    height: 490px;
    width: 1050px;
  }
  // about-us
  //секция "Мы работаем с компаниями по всей России"
  .companies-list {
    display: flex;
    flex-wrap: wrap;
  }
  .companies__item {
    max-width: 233px;
    width: 100%;
  }
  .awards-wrapper {
    flex-direction: column;
  }
  .awards__info {
    margin-right: 0;
    margin-bottom: 33px;
  }
  .awards__item {
    width: 100%;
  }
  .awards__slider {
    width: 705px;
  }
  .awards__title {
    font-size: 20px;
  }
  // employees
  .employees-page .voicecom__ellipse {
    transform: translate(-40%, 25%);
    max-width: 629px;
  }
  .title-why-employees {
    font-size: 35px;
    margin-bottom: 70px;
  }
  .why-main {
    padding-bottom: 100px;
  }
  .partners-page__big-img {
    max-width: 400px;
    z-index: 10;
  }
  .col-top-margin {
    margin-top: 0px;
  }
  // employees
}
@media (max-width: 992px) {
  .navigation--pc {
    display: none;
  }

  .navigation--mob {
    display: block;
  }

  .navigation-main {
    padding: 10px 0;
  }

  .navigation__logo {
    margin: 0;
  }

  .navigation__logo svg {
    height: 17px;
    width: auto;
  }

  .navigation__mmenu {
    position: absolute;
    top: 50px;
    left: 10px;
    width: calc(100% - 20px);

    background: #ffffff;
    border: 1px solid #e4edf3;
    box-shadow: 0px 50px 50px -30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 40px 19px;
    display: none;
    align-items: center;
    flex-direction: column;
  }

  .navigation__mmenu--active {
    display: flex;
  }

  .navigation__menu {
    flex-direction: column;
  }

  .navigation__link {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .navigation__link:last-child {
    margin-bottom: 0;
  }

  .hamburger {
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    position: absolute;
    width: 27px;
    height: 2.5px;
    background-color: #181c2a;
    left: calc(50% - 13.5px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 11;
    border-radius: 2.5px;
  }

  .hamburger span:first-child {
    top: calc(50% - 10.5px);
  }

  .hamburger span:nth-child(2) {
    top: calc(50% - 1.25px);
  }

  .hamburger span:last-child {
    top: calc(50% + 7.5px);
  }

  .hamburger--active span:first-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
  }

  .hamburger--active span:nth-child(2) {
    opacity: 0;
    // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  .hamburger--active span:last-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 50%;
  }

  .navigation__phone {
    padding: 18px 0;
    border-top: 1px solid #e4edf3;
    border-bottom: 1px solid #e4edf3;
    margin: 33px 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .navigation__mmenu--active .socials {
    justify-content: center;
  }

  .socials__item:last-child {
    margin-right: 0;
  }

  .not-found__title {
    font-size: 40px;
    line-height: 45px;
  }
  // header
  .title-header {
    font-size: 30px;
    line-height: 37px;
  }
  .subtitle-header {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
  }
  .text-header {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 35px;
  }
  .text-header span {
    font-size: 25px;
    line-height: 30px;
  }
  .border-decor {
    top: -55px;
    left: -89px;
    width: 525px;
  }
  .circle-block {
    height: 140px;
    width: 140px;
    top: 190px;
    left: 295px;
  }
  .circle-two-block {
    height: 95px;
    width: 95px;
  }
  .circle-three-block {
    height: 60px;
    width: 60px;
  }
  .circle-text {
    font-size: 10px;
    line-height: 12px;
  }
  .decor-yellow {
    width: 11px;
    left: 395px;
    top: 193px;
    height: 11px;
  }
  .decor-blue {
    left: 310px;
    top: 299px;
    width: 16px;
    height: 16px;
  }
  .header-img {
    width: 315px;
  }
  .decoraton-r-t {
    width: 230px;
    height: 230px;
  }
  // header
  // geometry
  .geometry-text {
    right: 35px;
    font-size: 18px;
    max-width: 435px;
    line-height: 130%;
  }
  .geometry {
    margin-bottom: 35px;
    margin-top: 35px;
  }
  .geometry-yellow-decor {
    width: 78px;
    height: 78px;
    border: 13px solid #cfde00;
  }
  // geometry
  // change
  .change-decor {
    width: 600px;
    height: 600px;
  }
  .change-partnership {
    font-size: 18px;
  }
  .change-partnership-active {
    font-size: 18px !important;
  }
  .ch-img-btn {
    width: 25px;
  }
  .change-value-text {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .chenge-value-pic {
    width: 25px;
  }
  .change .swiper-slide-value {
    max-width: 300px;
  }
  .slider-arrow-decor {
    width: 30px;
    margin-left: 15px;
  }
  .slider-text {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 15px;
  }
  .swiper-bgc:hover {
    padding: 20px 20px 0 20px;
    height: 397px;
  }
  .change-hover-text {
    font-size: 14px;
  }
  .chagne-hover-text__bottom {
    font-size: 12px;
  }
  .change .swiper-value {
    margin-left: 310px;
  }
  .change {
    padding-bottom: 130px;
  }
  // change
  // sphere
  .sphere-block__icon--element {
    margin-bottom: 10px;
  }
  .sphere-block__icon--text {
    font-size: 16px;
  }
  .sphere-block__icon--element img {
    width: 60px;
  }
  .sphere-block__icon--wrapper {
    margin-bottom: 10px;
  }
  .sphere-block__information {
    margin-right: 40px;
  }

  // sphere
  // about-us
  .about-text {
    max-width: 395px;
  }
  .about-big-img {
    width: 305px;
    height: 250px;
  }
  .about-blue-decor {
    width: 15px;
    height: 15px;
  }
  .about-us {
    padding-top: 25px;
    padding-bottom: 100px;
  }
  .about-blue-yellow {
    top: 12px;
    right: 24px;
  }
  .about-us::before {
    border-radius: 30px;
    height: 390px;
    width: 840px;
  }
  // about-us
  // partners
  .partners-page__item {
    max-width: 500px;
  }
  .partners-page .servise__box-bg::before {
    height: 350px;
    top: 145px;
  }
  .partners-page .servise .title-common {
    max-width: 500px;
  }
  .decor-blue__partners {
    left: 347px;
    top: 132px;
  }
  .decor-yellow__partners {
    left: 525px;
    top: -64px;
  }
  .border-decor-partners {
    width: 528px;
    left: 23px;
    top: -266px;
  }
  .circle-block__partners {
    left: 400px;
    top: -10px;
  }
  .circle-three-block__partners img {
    width: 26px;
  }
  // partners
  // employess
  .title-header__employees {
    font-size: 28px;
    line-height: 33px;
    max-width: 395px;
  }
  .text-header__employees {
    font-size: 22px;
    line-height: 26px;
  }
  .employees-page .voicecom__img {
    max-width: 585px;
  }
  .employees-page .voicecom__ellipse {
    transform: translate(-44%, 31%);
    max-width: 474px;
  }
  .why-main {
    padding-bottom: 65px;
  }
  .employees-page .why__box-bg::before {
    bottom: auto;
    top: 160px;
    width: 100%;
    height: 385px;
    border-radius: 0;
  }
  // employess
}
@media (max-width: 767px) {
  .contacts-main {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0;
  }

  .contacts__info {
    margin-right: 0;
    margin-bottom: 30px;
    max-width: 100%;
  }

  .not-found-main {
    flex-direction: column;
    align-items: flex-start;
  }

  .not-found__item:first-child,
  .not-found__item:last-child {
    width: 100%;
    margin: 0;
  }

  .not-found__title {
    font-size: 24px;
    line-height: 29px;
  }

  .not-found__text {
    font-size: 16px;
  }

  .not-found__text br,
  .not-found__title br {
    display: none;
  }

  .not-found__item:last-child {
    margin-top: 55px;
  }
  // header
  .header {
    padding-top: 85px;
    padding-bottom: 10px;
  }
  .border-decor {
    top: -20px;
    left: -70px;
    width: 360px;
  }
  .text-header {
    margin-bottom: 145px;
  }
  .header-img {
    width: 225px;
  }
  .decoraton-r-t {
    right: -70px;
    top: -67px;
  }
  .decor-yellow {
    left: 222px;
    top: 187px;
  }
  .decor-blue {
    left: 95px;
    top: 247px;
  }
  .circle-block {
    top: 163px;
    left: 99px;
  }
  // header
  // geometry
  .geometry {
    margin-top: 60px;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }
  .geometry-main {
    margin: 0 auto;
    max-width: 380px;
    border-top-left-radius: 520px;
    border-top-right-radius: 520px;
    border-bottom-left-radius: 354px;
    width: 100%;
    flex-direction: column;
  }
  .geometry-text {
    bottom: 100px;
    right: 0;
    left: 55px;
    font-size: 20px;
    max-width: 255px;
  }
  .jobs-geo-mob {
    max-width: 380px;
    width: 100%;
  }
  .geometry-yellow-decor {
    right: 19px;
    top: inherit;
    bottom: -27px;
  }
  // geometry
  // change
  .change-decor {
    width: 500px;
    top: 200px;
    height: 500px;
  }
  .chenge-value {
    position: relative;
    transform: none;
    top: inherit;
    left: inherit;
    margin-bottom: 30px;
  }
  .chenge-slider {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .change .swiper-value {
    margin-left: auto;
    padding-right: 0px;
    width: 100%;
  }
  // change
  // sphere
  .sphere-text-what::before {
    left: 0;
  }
  .sphere-text-what {
    font-size: 14px;
  }
  .sphere-block__information {
    margin-right: 0px;
  }
  .sphere {
    padding-top: 0;
    margin-bottom: 80px;
  }
  .sphere-text-info-1 {
    max-width: inherit;
  }
  .sphere-text-info-2 {
    max-width: inherit;
  }
  .sphere-block__icon--text {
    font-size: 15px;
    line-height: 110%;
    margin-left: 15px;
  }
  // sphere
  // about-us
  .about-big-img {
    width: 228px;
    height: 195px;
  }
  .about-us-block {
    margin-right: 20px;
  }
  .about-us::before {
    border-radius: 30px;
    width: 650px;
  }
  // about-us
  // awards
  .awards-wrapper {
    display: flex;
    margin-top: 40px;
  }
  .awards__text {
    font-size: 18px;
  }
  .awards__slider {
    width: 500px;
  }
  .awards__title {
    font-size: 17px;
  }
  .awards__desc {
    font-size: 14px;
  }
  // awards
  // partners
  .border-line-bottom-decoration {
    margin-top: 35px;
  }
  .partners-page {
    padding-bottom: 60px;
  }
  .partners-page .servise__box-bg::before {
    width: 100%;
    border-radius: 0;
    top: 160px;
  }
  .partners-page__item {
    max-width: 425px;
  }
  .partners-page .ico-line {
    padding: 60px 0;
  }
  .partners-page .ico-line__inner {
    margin-top: 63px;
  }
  .partners-page .voicecom__subtitle {
    font-size: 16px;
  }
  .voicecom {
    padding-top: 60px;
  }
  .border-decor-partners {
    width: 410px;
    left: 23px;
    top: -102px;
  }
  .circle-block__partners {
    left: 285px;
    top: 95px;
  }
  .decor-yellow__partners {
    left: 397px;
    top: -64px;
  }
  .decor-blue__partners {
    left: 221px;
    top: 212px;
  }
  // partners
  // employees
  .title-header__employees {
    font-size: 18px;
    line-height: 22px;
    max-width: 271px;
  }
  .text-header__employees {
    font-size: 14px;
    line-height: 17px;
  }
  .employees-page .voicecom__img {
    max-width: 420px;
  }
  .employees-page .voicecom__ellipse {
    transform: translate(-40%, 37%);
    max-width: 346px;
  }
  .employees-page .application {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  // employees
  // modal
  .btn-modal {
    max-width: 260px;
  }
  .modal-header {
    padding: 30px 0 30px 20px;
  }
  .title-modal {
    font-size: 32px;
  }
  .text-modal {
    margin-bottom: 30px;
    font-size: 16px;
    max-width: 225px;
    line-height: 140%;
  }
  .modal-input {
    max-width: 260px;
    font-size: 16px;
    padding: 14px 0 14px 20px;
  }
  .modal-pick {
    right: 40px;
    bottom: 20px;
    z-index: 2;
    width: 200px;
  }
  // modal
}
@media (max-width: 600px) {
  // about-us
  .about-us::before {
    width: 495px;
    height: 460px;
  }
  // about-us
}
@media (max-width: 575px) {
  .title-common {
    font-size: 24px;
  }

  .contacts__text {
    font-size: 16px;
  }

  .contacts__text:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .contacts__phone {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 28px;
  }

  .superform {
    max-width: 100%;
  }

  .superform__input {
    padding: 14px 20px;
    font-size: 16px;
  }
  // header
  .text-header {
    margin-bottom: 50px;
  }
  .header-img {
    margin-bottom: 32px;
    width: 250px;
    margin-left: auto;
  }
  .header-left {
    width: 100%;
  }
  .circle-block {
    z-index: 0;
    top: 177px;
    left: 126px;
  }
  .decor-yellow {
    left: 189px;
    top: 165px;
  }
  .decor-blue {
    left: 25px;
    top: 395px;
  }
  .border-decor {
    top: 153px;
    left: -118px;
    width: 336px;
  }
  // header
  // geometry
  .geometry-main {
    max-width: 300px;
  }
  .geometry-text {
    bottom: 60px;
    left: 30px;
    font-size: 18px;
  }
  .jobs-geo-mob {
    max-width: 300px;
  }
  // geometry
  // change
  .change-value-text {
    margin-bottom: 0px;
  }
  .chenge-value {
    margin-bottom: 0px;
  }
  .change-decor {
    width: 325px;
    top: 205px;
    height: 325px;
  }
  .swiper-bgc:hover {
    height: 317px;
  }
  .change .swiper-slide-value {
    max-width: 220px;
  }
  .change-hover-text {
    font-size: 12px;
  }
  .chagne-hover-text__bottom {
    font-size: 10px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    position: absolute;
  }
  .swiper-btn-value__next {
    width: fit-content;
    right: 28px;
    bottom: 0px;
    position: absolute;
  }
  .swiper-btn-value__prev {
    width: fit-content;
    left: 18px;
    bottom: 0px;
    position: absolute;
  }
  .change .swiper-value {
    padding: 25px 0 60px;
  }
  .change {
    padding-bottom: 60px;
  }
  // change
  // about-us
  .about-us-block {
    margin-right: 0px;
  }
  .about-blue-decor {
    display: none;
  }
  .about-big-img {
    margin: 0 auto;
    width: 245px;
    height: auto;
  }
  .about-text {
    max-width: 300px;
  }
  .about-us::before {
    width: 425px;
    height: 525px;
  }
  // about-us
  //секция "Мы работаем с компаниями по всей России"
  .companies-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .companies__item {
    max-width: 100%;
    height: 70px;
    padding: 25px 28px;
  }
  .companies__item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .awards {
    margin-top: 60px;
  }
  .awards__info {
    display: block;
  }
  .awards__quality:not(:last-child) {
    margin-bottom: 20px;
  }
  .awards__title {
    font-size: 20px;
  }
  .awards__slider {
    width: 280px;
  }
  .awards__slider img {
    max-height: initial;
  }
  .awards__btn.swiper-button-disabled {
    background-color: transparent !important;
  }
  .awards__btn {
    width: auto;
    height: auto;
    background-color: transparent;
    border-radius: 0;
    z-index: 99999;
    top: 410px;
  }
  .awards__btn--prev {
    left: 75px;
  }
  .awards__btn--next {
    right: 75px;
  }
  .awards__pagination {
    bottom: -65px !important;
  }
  // PARTNERS
  .partners-page__item {
    max-width: 280px;
  }
  .partners-page .servise__box-bg::before {
    height: 495px;
    top: 175px;
  }
  .partners-page .servise .title-common {
    max-width: 270px;
    margin-bottom: 40px;
  }
  .partners-page .ico-line__card__img-box__big-radius {
    width: 410px;
    height: 410px;
    top: -73px;
    right: -689px;
    transform: none;
    z-index: 1;
  }
  .header-img-partners {
    width: 265px;
  }
  // .decor-blue__partners {
  //   left: 238px;
  //   top: 308px;
  // }
  // .decor-yellow__partners {
  //   left: 266px;
  //   top: 114px;
  // }
  // .border-decor-partners {
  //   width: 424px;
  //   left: -129px;
  //   top: 65px;
  // }
  // .circle-block__partners {
  //   left: 220px;
  //   top: 150px;
  // }
  .decor-blue__partners {
    left: 203px;
    top: 319px;
  }
  .decor-yellow__partners {
    left: 251px;
    top: 144px;
  }
  .border-decor-partners {
    width: 424px;
    left: -153px;
    top: 65px;
  }
  .circle-block__partners {
    left: 104px;
    top: 147px;
  }
  // PARTNERS
  // employees
  .employees-page__item::before {
    top: 2px;
  }
  .employees-page__item {
    padding-left: 40px;
    font-size: 14px;
  }
  .employees-page .voicecom__li-title {
    font-size: 18px;
    line-height: 140%;
  }
  .employees-page .voicecom__li-subtitle {
    font-size: 14px;
    line-height: 170%;
  }
  .employees-page .voicecom__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .voicecom__img--mobile {
    margin-top: 30px;
    margin: 0 auto;
  }
  .employees-page .why__box-bg::before {
    bottom: auto;
    top: 135px;
    width: 100%;
    height: 565px;
    border-radius: 0;
  }
  .employees-page .why .title-common {
    max-width: 273px;
  }
  .title-why-employees {
    margin-bottom: 55px;
  }
  .employees-page .why__item {
    max-width: 250px;
  }
  // employees
  // modal
  .title-modal {
    margin-bottom: 5px;
    font-size: 24px;
  }
  .modal-header .btn-close {
    top: 10px;
    background-size: 15px;
    height: 15px;
    width: 15px;
    right: 10px;
  }
  .modal-header {
    padding: 30px 20px;
  }
  .modal-dialog {
    max-width: 300px;
    padding: 0;
  }
  // modal
}
@media (max-width: 445px) {
  // header
  .header {
    padding-top: 75px;
  }
  .border-decor {
    width: 320px;
  }
  .circle-block {
    top: 180px;
    left: 5px;
  }
  .decor-yellow {
    left: 175px;
    top: 175px;
  }
  .decor-blue {
    left: 20px;
    top: 390px;
  }
  .header-img {
    width: 245px;
  }
  // header
  // changer
  .change-btn-click {
    overflow-x: scroll;
  }
  .change-btn-click__scroll {
    width: 426px;
  }
  .change-btn-click::-webkit-scrollbar {
    width: 0;
  }
  // changer
  // about-us
  .about-us::before {
    width: 389px;
  }
  // about-us
  // awards
  .awards__btn--next {
    right: 20px;
  }
  .awards__btn--prev {
    left: 20px;
  }
  // awards
  // partners
  .border-line-bottom-decoration {
    width: 97%;
  }
  .partners-page .ico-line__card__img-box__big-radius {
    right: -470px;
  }
  .decor-blue__partners {
    left: 46px;
    top: 299px;
  }
  .decor-yellow__partners {
    left: 170px;
    top: 123px;
  }
  .border-decor-partners {
    width: 320px;
    border-radius: 50%;
    left: -132px;
    top: 67px;
  }
  .circle-block__partners {
    left: 0px;
    top: 130px;
  }
  .header-partner .container {
    padding-right: 0px;
  }
  .header-img-partners {
    width: 265px;
    margin-bottom: 40px;
  }
  .title-header-partners {
    font-size: 24px;
    line-height: 28px;
  }
  // employees
  .text-header__employees br {
    display: none;
  }
  .title-header__employees {
    margin-bottom: 9px;
  }
  .voicecom__img--mobile {
    margin: 0 0 0 auto;
  }
  // employees
}
